.testimonial .testimonial-carousel p {
  font-size: 25px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.displaynone {
  display: none;
}

.bold {
  font-weight: bold;
}

.text-large {
  font-size: 20px;
}

.ray h3 {
  font-style: italic;
}

@media (min-width: 769px) {
  .reverse-on-desktop {
    flex-direction: row-reverse;
  }
}
